body{
    background-image: url("./img/background.png");
}

header{
    display: flex;
    justify-content: space-between;
    background-color: greenyellow;
}
#intro{
    display: flex;
}
main h1{
    text-align: center;
}
.card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 0 auto;
        background: linear-gradient(#FFCA2E 30%, #FFEA6E 30%);
        box-shadow: 0 0 25px rgb(35, 34, 0);
        border-radius: 10px;
        padding: 50px 16px;
        margin-bottom: 30px;
        border-color: black;
        border: 4px;
    }
    #sectionCard{
        display: flex;
        flex-wrap: wrap;
    }
    .foroCard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: 0 auto;
        box-shadow: 0 0 25px rgb(128, 128, 0);
        border-radius: 10px;
        padding: auto;
        margin-bottom: 30px;
        /* background-color: rgb(255, 247, 182, 0.8) ; */
        background-color: rgb(255, 234, 110, 0.8) ;
    }
    form{
      display: flex;
      flex-direction: column;
    }
    .container {
      display: flex;
        flex-direction: row; 
        align-items: center;

      }
      #miTextarea { 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        background-color:rgb(255, 247, 182) ;
      }
      #submit{
        justify-content: flex-end;
        height: 50px;
        width: auto;
        background-color:rgb(255, 247, 182) ;
        align-items: center;
        margin-left: 1%;

      }
      #submit:hover{
        background-color:#FFCA2E ;
        cursor: pointer;
      }
      #logos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .logo{
        width: 20px;
        padding-top: 10px;
      }
      #derechos{
        display: flex;
        justify-content: center;
      }
    footer{
      background-color: greenyellow;
      margin-top: 15px;

    }
      .star{
          content: "\2605";
      }
      .img{
        border-image: 10px;
      }
      .button{
        background-color:#FFF7B6 ;
      }
      .button:hover{
        background-color:#FFCA2E ;
        cursor: pointer;
      }