body{
    background-image: url("./img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
    cursor: url('./img/cursor.cur'), auto;
}
.card{
    display: grid;
    align-items: center;
    width: 20rem;
    margin: 0 auto;
    background: linear-gradient(#FFCA2E 30%, #FFEA6E 30%);
    box-shadow: 0 0 25px rgb(35, 34, 0);
    border-radius: 10px;
    padding: 50px 16px;
    margin-bottom: 30px;
    border-color: black;
    border: 1px solid #ddd;
    grid-column-end: span 4;
}
#sectionCard{
    display: grid;
    grid-template-columns: repeat(12, minmax(18.75rem, 1fr));
    grid-column: 2/span 12;
    justify-items: center;
    gap: 20px ;
    /* max-width: 1500px; */
    justify-self: center;
}
.img{
    width: 50%;
    border-radius: 50%;
    margin-bottom: 16px;
    justify-self: center;
  }
  .cardTitle{
    font-size: 1.25rem;
    margin: 8px 0;
  }
  .card-description {
    font-size: 0.9rem;
    color: #666;
    margin: 8px 0;
  }
  main > h1{
    text-align: center;
  }
  #logos{
    margin-left: 45.5vw;
  }
  .logo{
    width: 20px;
    padding-top: 10px;
  }
  .a:hover{
    cursor: url('./img/cursor2.png'), auto;
  }
  #derechos{
    text-align: center;
  }
  footer{
  background-color: #FFEA6E ;
  margin-top: 15px;
}
section > h1{
  text-align: center;
}
.parent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 20vw;
}
.imgTestimonios{
  width: 3vw;
  border-radius: 50%;
  margin-bottom: 16px;
  grid-area: imagen;
}
.p{
  font-size:  medium;
}
.artTesti{
  display: grid;
  grid-template-areas: 'imagen texto .';
  grid-template-columns: 3vw 1fr 1fr;
  gap: 1em;
  width: 40vw;
}

#secttestimonios {
  display: grid;
  justify-items: center;
}
/* cabecera */
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FFEA6E ;

}
.head{
  font-size: 40px;
  text-transform: uppercase; 
  color: #B67C00; 
  text-shadow: 
      -2px -2px 0 #ffffff, 
      2px -2px 0 #ffffff,
      -2px 2px 0 #fefefe,  
      2px 2px 0 #ffffff;  
  letter-spacing: 3px; 
  text-decoration: none;
}
.head:hover{
  color: darkred;
  cursor: url('./img/cursor2.png'), auto;
}
#navGrid{
  margin-left:10vw;
}